body
{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading{
display: inline;
;
background-color: aqua;
}
.p1{
    font-size:xx-large;
    text-align: left;
    color: white;
    background-color: black;
}
.heading button{
float: left;
font-size: 23px;
display: inline;
}